.gradle/
build/

# Eclipse stuff
.classpath
.project
.settings/

# VSCode stuff
.vscode/

# netbeans
nbproject/
nbactions.xml

# vim
.*.sw[a-p]

# various other potential build files
bin/
dist/
manifest.mf
__pycache__/

# Mac filesystem dust
.DS_Store/
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/
out/

# JetBrains Fleet
.fleet/

# Linux temp files
*~

# other stuff
run/
logs/

!gradle/wrapper/gradle-wrapper.jar

test-plugin.settings.gradle.kts

/velvety-api/build.gradle.kts
/paper-api
/velvety-server/build.gradle.kts
/velvety-server/src/minecraft
/paper-server
/velvety-checkstyle/build.gradle.kts
/paper-checkstyle
/.checkstyle
